@charset "utf-8";

body {
    margin:0px; font-family: 'Open Sans', sans-serif; line-height:1; background:#F5F5F5; color:#333333;
}
:focus {
outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
a {
	margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none;
}
.logo{
	float:left; width:150px; margin-top:5px
}
header{
	width:100%;  font-weight:bold; color:rgba(1,100,168,1.00); background: -webkit-linear-gradient(top, #FFFFFF, #B1B1B1); background: -moz-linear-gradient(top, #FFFFFF, #B1B1B1);; display:block;
}
nav{
	width:100%;  display:inline-block;
}
.cont-hed-sup{
	width:1260px;  margin:0 auto;
}
header a{
	color:inherit;
}
header a:hover{
	color:inherit;
}
section{
	width:1260px; margin:0 auto; 
}
.ingreso{
	float:right; width:auto; text-align:right; display:inline-block; margin:20px 0 0;
}

.boton-cuenta{
	float:right; width:auto; height:45px; padding:10px 0 0; margin:0px;
}
.boton{
	border-radius: 5px; padding:5px 12px;
}
.boton:hover {
	border: 1px solid #D3D3D3; border-bottom-color: #BFBFBF; padding:5px 11px;
}
.boton:active {
	background-color: #eee;
}
/*------------------------BUSCADOR----------------------------------------------*/
.cont-buscador{
	width:700px; display:inline-block; margin:20px 0 0 100px;
}
.cont-select{
	float:left; width:auto; margin:0px; padding:0; display:block; position:relative;
}
.cont-select select{
/*	width:auto; height:35px; border-radius:8px 0px 0px 8px; box-sizing:border-box; text-align:center; */
	position: absolute; display: block; top: -1px; left: 0; height: 35px; width: auto; font-family: arial,sans-serif; outline: 0; margin: 0; padding: 0; outline: 0; cursor: pointer; opacity: 0; filter: alpha(opacity=0); visibility: visible;
}
.cont-mask-select{
	position: relative; float: left; cursor: default; overflow: hidden; background:#FEAD00; border-radius:8px 0px 0px 8px; border:1px solid; border-color:#D49000 #FFD680 #D49000 #B57B00;
}
.cont-mask-select span{
	display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #FFFFFF; font-size: 100%; line-height: 33px; margin-right: 21px; margin-left: 15px; text-align: center;  text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.cont-bot-busc{
	float:right; width:42px; height:33px; display:block; border-radius:0 8px 8px 0; background:#FEAD00; position:relative; border:1px solid; border-color:#D49000 #B57B00 #D49000 #FFD680;
}
.cont-bot-busc span{
position: absolute; left: 11px; top: 0px; font-weight: 700; color: #fff; font-size: 120%; line-height: 32px; vertical-align: middle; text-align: center;  text-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.cont-bot-busc input{
	height:33px; padding:0 15px; margin:0; border:0; background:none;
}
.cont-prim-busqueda{
	position:relative; width:auto; height:35px; overflow:hidden; margin:0px;
}
.cont-sec-busqueda{
	display: block; position: relative; height: 35px; background: #FFFFFF; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #cdcdcd;  -webkit-box-sizing: border-box;
}
.cont-sec-busqueda input{
width:100%; height:33px; padding: 6px 10px 6px 5px; margin:0; border:0; position:absolute; display:block;
}
/*-----------------------MENU------------------------------------------------------*/
.cont-hed-inf{
	
}
.botones-men{
	float:right; line-height:45px; width:100%; background-color: #FEAD00; color:#555; text-shadow:#BCBCBC 2px 2px 3px;
	/*F3D300*/
}
.cont-botones-men{
	width:1260px;  margin:0 auto;
}
.boton-men{
	float:right; width:auto; height:45px; margin:0 1px; padding:0 15px;
}
.boton-men:hover {
	border-bottom: 4px solid #555; height:41px;
}
.boton-men:active {
	
}
/*------------------------- contenido-------------------------*/
.contenido{
	text-align:justify; text-shadow:#D1D1D1 0 0 1px;
}
.contenido h1,h2,h3,h4,h5{
	text-shadow:#A7A7A7 0 0 1px;
}
.contenido img{
	box-shadow:rgba(85,85,85,1.00) 4px 4px 5px; border-radius:10px;
}
.contenido iframe{
	margin: 0 50px; box-shadow:rgba(85,85,85,1.00) 6px 6px 7px;
}
.campos{
	width:300px; margin:5px 0; padding:5px; font-size:100%; font-weight:bold; color:rgba(1,100,168,1.00); border:#7E7E7E 1px solid; border-radius:4px; box-shadow:#8E8E8E 4 px 4px 6px;
}
.camp-texto{
	width:500px; margin:5px 0  5px 8px; padding:5px; font-size:120%; font-weight:bold; color:rgba(1,100,168,1.00); border:#7E7E7E 1px solid; border-radius:4px; box-shadow:#8E8E8E 4 px 4px 6px;
}
.enviar{
	 font-size:100%; font-weight:bold; color:rgba(1,100,168,1.00); border-radius: 5px; padding:6px 13px; margin-left:10px; width:auto; border:none; background:none;
}
.enviar:hover {
	border: 1px solid #C7C7C7; border-bottom-color: #C0C0C0; padding:5px 12px;
}
.enviar:active {
	background-color: #B7B7B7; color:rgba(255,255,255,1.00);
}
/*-----------------------noticias---------------------------------*/
.seccion-anuncio{
	width:1000px; border-radius:10px; background:#FFF; box-shadow:#666 3px 3px 5px; margin:10px; height:auto; padding:10px 20px;
}
.seccion-anuncio img{
	float:left; width:150; height:150px; margin:0 15px 10px 15px; border-radius:6px; box-shadow:#787878 3px 3px 4px;
}
.contenedor-anuncio{
	float:left; width:100%; height:auto; padding-left:15px;
}

.contenedor-anuncio a:hover, .contenedor-anuncio a:visited, .contenedor-anuncio a:link, .contenedor-anuncio a:active{
	color:#2d2d2d;
}

.linea-vert{
	float:left; width:1px; height:150px; background-color:#000; box-shadow: -1px 0 1px #333;
}

.anuncio-nombre{
	font-size:18px; text-transform:uppercase; background:rgba(0,89,178,0.10); width:auto; padding:2px 5px; border-radius:4px;
}

.anuncio-cuerpo{
	font-family:Tahoma; font-size:12px; text-align:justify; height:84px; margin-top:7px;
}
.anuncio-cuerpo2{
	font-size:14px; text-align:justify; height:auto; margin:7px 0 15px 0;; overflow:hidden;
}

.anuncio-direccion{
	float:left; font-family:Tahoma; font-size:10px; color:#FFF; width:263px; height:30px; margin-top:8px; border-radius:4px; background-color:#959595;
}
/*------------------------slider----------------------------------*/

.cont-slid{
	width:1260px; height:500px; margin:0px; background-color:#FFF; box-shadow:3px 3px 7px #19181a;
}
.cont-slid2{
	width:1260px; height:auto; margin:10px auto; background-color:#FFF; box-shadow:3px 3px 7px #19181a;
}
.tit-home{
	font-family: Arial,sans; font-size: 22px; color:#444444; line-height: 1.5; margin-top:40px; text-shadow:#B0B0B0 2px 2px 3px;
}
/*---------------------FOOTER-------------------------------*/
footer{
	 width:100%; color:rgba(1,100,168,1.00); margin-top:30px;  background: -webkit-linear-gradient(top, #F5F5F5,  #FEA500);  background:-moz-linear-gradient(top, #F5F5F5, #FEA500); padding:5px 0; border-top:#DFDFDF 1px solid;  text-shadow:#A8A8A8 2px 2px 3px;
}
.cont-footer{
	width:1260px;  margin:0 auto;
}
.col-foot{
	float:left; width:420px; line-height:20px; display:inline-block; text-align:center; font-weight:bold; padding:10px 0;
}
.col-foot a{
	 color:rgba(1,100,168,1.00);
}
.derechos{
	 color:rgba(1,100,168,1.00); font-size:12px; font-weight:normal; font-family: Arial,sans; line-height:18px; text-align:center; padding:10px 0 0; border-top:#F8A100 1px solid; text-shadow:#A8A8A8 2px 2px 3px;
}
.derechos a{
	 color:rgba(1,100,168,1.00);
}