vti_encoding:SR|utf8-nl
vti_author:SR|SERVER003\\Administrator
vti_modifiedby:SR|SERVER003\\Administrator
vti_timelastmodified:TR|10 Mar 2014 21:26:47 -0000
vti_timecreated:TR|05 Jun 2013 14:29:03 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|X001A001.asp
vti_cacheddtm:TX|10 Mar 2014 21:26:47 -0000
vti_filesize:IR|4368
vti_cachedlinkinfo:VX|S|fancybox_sprite.png S|fancybox_loading.gif S|images/close.png S|blank.gif S|fancybox_overlay.png
vti_cachedsvcrellinks:VX|NSUS|fancybox_sprite.png NSUS|fancybox_loading.gif FSUS|images/close.png NSUS|blank.gif NSUS|fancybox_overlay.png
