vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Sep 2012 02:45:46 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|samplec.php samplea.php sampleb.php
vti_author:SR|SERVER003\\Administrator
vti_modifiedby:SR|SERVER003\\Administrator
vti_timecreated:TR|25 Sep 2012 02:45:45 -0000
vti_nexttolasttimemodified:TR|14 May 2009 00:54:12 -0000
vti_cacheddtm:TX|25 Sep 2012 02:45:46 -0000
vti_filesize:IR|1518
